@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.nb-profile {
    border-radius: 50%;
    background-color: white;
    height: 20px;
    width: auto;
    padding: 2px;
}

.loginbg {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../images/loginbg.jpg');
    height: 100%;
    background-position: center;
}

.login-page {
    width: 360px;
    padding: 15% 0 0;
    margin: auto;
}

.form {
    position: relative;
    background: #b8b8b8;
    max-width: 360px;
    margin: 0 auto 50px;
    padding: 45px;
}

#username, #password {
    margin: 0 auto 10px;
    font-family: 'Open Sans', sans-serif;
    color: black;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background: transparent;
}

.login-form input[type='submit']
{
    border: none;
    outline: none;
    background: grey;
    font-size: 15px;
    width: 100%;
    height: 30px;
    font-family: 'Open Sans', sans-serif;
    color: black;
}

.login-form input[type='submit']:hover {
    opacity: 0.9;
}

.login-form p {
    font-size: 15px;
    line-height: 0;
    font-family: 'Open Sans', sans-serif;
}

#scheduletable {
    font-family: 'Open Sans', sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-spacing: 5px;
}

#scheduletable th{
    border-style: none;
}

#scheduletable tr:nth-child(odd) {
    background-color: transparent;
    color: black;
}

#scheduletable, td:first-child {
    font-size: 17px;
}

#scheduletable td {
    text-align: left;
    padding: 8px
}

#patientsdb {
    font-family: 'Open Sans';
}

#patientsdb th {
    background-color: #e1e4ea;
    text-align: center;
    color: #555555;
    font-size: 25px;
}

#patientsdb tr {
    background-color: #f5f5f5;
    font-size: 17px;
}

#patientsdb tr:hover {
    color: #555555;
    background-color: #e1e4ea;
}

#patientsdb td a {
    text-decoration: none;
    text-align: center;
    height: 100%;
    width: 100%;
    display: block;
}

/* #patientsdb tr:nth-child(2) td:nth-last-child(1):hover {
    background-color: #006491;
} */

#patientsdb td a:hover{
    color: white;
}