body {
    background-color: #f2f2f2;
}

.box-pos {
    display: inline-block;
    width: 250px;
    height: 290px;
    margin: 10px;
    background-color: #ffffff;
}

.box-pos:hover {,
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-delay: 0.10s;
}

.inn-box {
    display: inline-block;
    width: 228px;
    height: 165px;
    margin: 11px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 6.5px 0 rgba(0, 0, 0, 0.19);
}

.inn-box:hover {
    cursor: default;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.categories__ {
    display: inline-block;
    width: 1000px;
    height: 80px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 6.5px 0 rgba(0, 0, 0, 0.19);
    margin-left: 14.5%;
}


.Food_order {
    margin-left: 12.5%;
    text-align: center;
}

.Food_quantity {
    margin-left: 33%;
    text-align: center;
    height: 80px;
    width: 350px;
    font-size: 40px;
}

.food_title {
    margin-top: 4px;
    margin-bottom: 13px;
    margin-left: 18%;
}

.food_title2 {
    margin-top: 4px;
    margin-bottom: 13px;
    margin-left: 7%;
}

.food_title3 {
    margin-top: 4px;
    margin-bottom: 13px;
    margin-left: 12%;
}


.title-of-food {
    text-align: center;
}

.food-item img {
  max-width: 100%;

  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.food-item:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}