{% extends "layout.html" %}
{% block body %}
{% from "includes/_formhelper.html" import render_field %}
<!-- Page Content -->
    <header class="masthead" style="background-image: url('../static/images/header_head.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Outpatient</h1>
              <span class="subheading">{{ name }}</span>
            </div>
          </div>
        </div>
      </div>
    </header>
<br>

    <div id="wrapper">

        {% include 'includes/sidebar.html' %}

        <!-- Page Content -->
        <div id="page-content-wrapper">
			      <div class="container">
                <p>Effective discharge planning can decrease the chances of you readmitting to the hospital, and can also help in recovery, ensure medications are prescribed and given correctly, and adequately prepare you to take care of yourself.</p>
                    <form method="POST" action="/after_discharge">
                                  {{ render_field(form.nric, class="form-control col-sm-4", placeholder="NRIC", id="tis_nric")}}<br>
                                  <label>Rate your overall recovery status</label>
                                  {{ form.status(class="form-check", id="tis_status_li") }}
                                  <h3>Current problems<small>&nbsp;(if any)</small></h3>
                                  {{ render_field(form.eye_problem, class="form-control",id="tis_eye_problem", rows="3")}}<br>
                                  {{ render_field(form.medication, class="form-control",id="tis_medication", rows="3")}}<br>
                                  {{ render_field(form.others, class="form-control",id="tis_others", rows="3")}}<br><br>
                                <input id="tis_submit" type="submit" class="form-control col-sm-1" value="submit">
                    </form>
                    <br>
                    <h1>FAQ</h1>
                    <br>
                    <h3>Need a follow-up appointment or tests ?</h3>
                    <p>You can book an appointment <a href="/schedule">Here</a>, or if you have any more enquiries you may contact us at <b>61234567</b>.</p>
                    <h3>How do I get more supplies of my medicines ?</h3>
                    <p>Take your discharge letter to your GP as soon as possible. They will update your records and give you a prescription before you run out of the medicines you were given when you left hospital.</p>
                    <h3>Where should I store my medicines ?</h3>
                    <p>Always store them out of reach and sight of children, in a cool dark place.<br>Some medicines need to be stored in the fridge – it will tell you on the label.<br>Try to keep medicines in their original box or packet as the information on it may be important. </p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}
