<!DOCTYPE html>
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="ico/favicon.png">

    <title>Sortable Portfolio by WebDesignAndSuch.com</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/jquery.fancybox.css">
    <link rel="stylesheet" href="../static/css/styles_matthew.css">
    
	<link href="http://fonts.googleapis.com/css?family=Raleway:400,700,500" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    

</head>
<body>

<section class="filter-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
            
            	<h1> ~~~~ MENU ~~~~ </h1>
           
                <div class="filter-container isotopeFilters">
                    <ul class="list-inline filter">
                        <li class="active"><a href="#" data-filter="*"><span>/</span> All </a><span>/</span></li>
                        <li><a href="#" data-filter=".recommended"> Recommended </a><span>/</span></li>
                        <li><a href="#" data-filter=".meals"> Meals </a><span>/</span></li>
                        <li><a href="#" data-filter=".snacks"> Snacks </a><span>/</span></li>
                        <li><a href="#" data-filter=".desserts"> Healthy Desserts </a><span>/</span></li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
</section>

<section class="portfolio-section port-col">
    <div class="container">
        <div class="row">
            <div class="isotopeContainer">
            
            <div class="col-sm-3 isotopeSelector meals">
                <article class="">
                    <figure>
                        <img src="../static/images/1.jpg" alt="">
                        <div class="overlay-background">
                            <div class="inner"></div>
                        </div>
                        <div class="overlay">
                            <div class="inner-overlay">
                                <div class="inner-overlay-content with-icons">
                                    <a title="~290 Calories" class="fancybox-pop" rel="portfolio-1" href="../static/images/1.jpg"><i class="fa fa-search"></i></a>
                                    <a href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <div class="article-title"><a href="#">Steamed Rice</a></div>
                </article>
            </div>
            
            <div class="col-sm-3 isotopeSelector meals">
                <article class="">
                    <figure>
                        <img src="../static/images/2.jpg" alt="">
                        <div class="overlay-background">
                            <div class="inner"></div>
                        </div>
                        <div class="overlay">
                            <div class="inner-overlay">
                                <div class="inner-overlay-content with-icons">
                                    <a title="~150 Claories" class="fancybox-pop" rel="portfolio-2" href="../static/images/2.jpg"><i class="fa fa-search"></i></a>
                                    <a href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <div class="article-title"><a href="#">Porridge</a></div>
                </article>
            </div>
            
            <div class="col-sm-3 isotopeSelector meals recommended">
                <article class="">
                    <figure>
                        <img src="../static/images/3.jpg" alt="">
                        <div class="overlay-background">
                            <div class="inner"></div>
                        </div>
                        <div class="overlay">
                            <div class="inner-overlay">
                                <div class="inner-overlay-content with-icons">
                                    <a title="~680 Claories" class="fancybox-pop" rel="portfolio-3" href="../static/images/3.jpg"><i class="fa fa-search"></i></a>
                                    <a href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <div class="article-title"><a href="#">Mixed Rice(beef)</a></div>
                </article>
            </div>
            
            <div class="col-sm-3 isotopeSelector snacks">
                <article class="">
                    <figure>
                        <img src="../static/images/4.jpg" alt="">
                        <div class="overlay-background">
                            <div class="inner"></div>
                        </div>
                        <div class="overlay">
                            <div class="inner-overlay">
                                <div class="inner-overlay-content with-icons">
                                    <a title="~830 Claories" class="fancybox-pop" rel="portfolio-4" href="../static/images/4.jpg"><i class="fa fa-search"></i></a>
                                    <a href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <div class="article-title"><a href="#">Vegetable Fusilli</a></div>
                </article>
            </div>
            
            <div class="col-sm-3 isotopeSelector desserts">
                <article class="">
                    <figure>
                        <img src="../static/images/5.jpg" alt="">
                        <div class="overlay-background">
                            <div class="inner"></div>
                        </div>
                        <div class="overlay">
                            <div class="inner-overlay">
                                <div class="inner-overlay-content with-icons">
                                    <a title="~120 Calories" class="fancybox-pop" rel="portfolio-5" href="../static/images/5.jpg"><i class="fa fa-search"></i></a>
                                    <a href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <div class="article-title"><a href="#">Mixed fruit Yogurt</a></div>
                </article>
            </div>
            
            <div class="col-sm-3 isotopeSelector snacks">
                <article class="">
                    <figure>
                        <img src="../static/images/6.jpg" alt="">
                        <div class="overlay-background">
                            <div class="inner"></div>
                        </div>
                        <div class="overlay">
                            <div class="inner-overlay">
                                <div class="inner-overlay-content with-icons">
                                    <a title="~210 Calories" class="fancybox-pop" rel="portfolio-6" href="../static/images/6.jpg"><i class="fa fa-search"></i></a>
                                    <a href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <div class="article-title"><a href="#">Creamy Mushroom Soup</a></div>
                </article>
            </div>
            
            <div class="col-sm-3 isotopeSelector desserts recommended">
                <article class="">
                    <figure>
                        <img src="../static/images/7.jpg" alt="">
                        <div class="overlay-background">
                            <div class="inner"></div>
                        </div>
                        <div class="overlay">
                            <div class="inner-overlay">
                                <div class="inner-overlay-content with-icons">
                                    <a title="~315 Calories" class="fancybox-pop" rel="portfolio-7" href="../static/images/7.jpg"><i class="fa fa-search"></i></a>
                                    <a href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <div class="article-title"><a href="#">Yogurt Special</a></div>
                </article>
            </div>
            
            <div class="col-sm-3 isotopeSelector meals recommended">
                <article class="">
                    <figure>
                        <img src="../static/images/8.jpg" alt="">
                        <div class="overlay-background">
                            <div class="inner"></div>
                        </div>
                        <div class="overlay">
                            <div class="inner-overlay">
                                <div class="inner-overlay-content with-icons">
                                    <a title="~920 Calories" class="fancybox-pop" rel="portfolio-8" href="../static/images/8.jpg"><i class="fa fa-search"></i></a>
                                    <a href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <div class="article-title"><a href="#">Steamed Aromatic Salmon</a></div>
                </article>
            </div>
            
            <div class="col-sm-3 isotopeSelector snacks">
                <article class="">
                    <figure>
                        <img src="../static/images/9.jpg" alt="">
                        <div class="overlay-background">
                            <div class="inner"></div>
                        </div>
                        <div class="overlay">
                            <div class="inner-overlay">
                                <div class="inner-overlay-content with-icons">
                                    <a title="~455 Calories" class="fancybox-pop" rel="portfolio-9" href="../static/images/9.jpg"><i class="fa fa-search"></i></a>
                                    <a href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <div class="article-title"><a href="#">Salad & Eggs</a></div>
                </article>
            </div>
            
            <div class="col-sm-3 isotopeSelector meals">
                <article class="">
                    <figure>
                        <img src="../static/images/10.jpg" alt="">
                        <div class="overlay-background">
                            <div class="inner"></div>
                        </div>
                        <div class="overlay">
                            <div class="inner-overlay">
                                <div class="inner-overlay-content with-icons">
                                    <a title="~1060 Calories" class="fancybox-pop" rel="portfolio-10" href="../static/images/10.jpg"><i class="fa fa-search"></i></a>
                                    <a href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <div class="article-title"><a href="#">Breakfast Set</a></div>
                </article>
            </div>
            
            <div class="col-sm-3 isotopeSelector meals recommended">
                <article class="">
                    <figure>
                        <img src="../static/images/11.jpg" alt="">
                        <div class="overlay-background">
                            <div class="inner"></div>
                        </div>
                        <div class="overlay">
                            <div class="inner-overlay">
                                <div class="inner-overlay-content with-icons">
                                    <a title="~530 Calories" class="fancybox-pop" rel="portfolio-11" href="../static/images/11.jpg"><i class="fa fa-search"></i></a>
                                    <a href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <div class="article-title"><a href="#">Mixed Vegetables & Rice</a></div>
                </article>
            </div>
            
            <div class="col-sm-3 isotopeSelector meals">
                <article class="">
                    <figure>
                        <img src="../static/images/12.jpg" alt="">
                        <div class="overlay-background">
                            <div class="inner"></div>
                        </div>
                        <div class="overlay">
                            <div class="inner-overlay">
                                <div class="inner-overlay-content with-icons">
                                    <a title="~670 Calories" class="fancybox-pop" rel="portfolio-12" href="../static/images/12.jpg"><i class="fa fa-search"></i></a>
                                    <a href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <div class="article-title"><a href="#">Omelette</a></div>
                </article>
            </div>
            
            
            </div>
        </div>
    </div>
</section>


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script src="../static/js/isotope.min.js"></script>
<script src="../static/js/jquery.fancybox.pack.js"></script>
<script src="../static/js/main.js"></script>

</body>
</html>