{% extends "layout.html" %}
{% block body %}
{% from "includes/_formhelper.html" import render_field %}
<!-- Page Content -->
    <header class="masthead" style="background-image: url('../static/images/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Food Information</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div id="wrapper" onload="clearInp()">

        {% include 'includes/sidebar.html' %}
    </div>
<style>

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    margin-left: 6%;
    margin-right: 6%;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    margin-left: 6%;
    margin-right: 6%;
}

.food-info-title {
    margin-left: 4%;
}

.food_img {
    max-width: 70%;
    height: auto;
    margin-left: 14%;
}

</style>

<body>

<h3 class="food-info-title">All you need to know about your body and food!!</h3><br><br>


<div class="tab">
  <button class="tablinks" onclick="bringinfo(event, 'Healthy_Diet')">Healthy Diet</button>
  <button class="tablinks" onclick="bringinfo(event, 'Info1')">Info1</button>
  <button class="tablinks" onclick="bringinfo(event, 'Info2')">Info2</button>
</div>

<div id="Healthy_Diet" class="tabcontent">
  <h3>Healthy Diet</h3>
  <p>A healthy diet is one that helps to maintain or improve overall health. A healthy diet provides the body with essential nutrition:<br>
      fluid, adequate amino acids from protein, essential fatty acids, vitamins, minerals, fibre and adequate calories. </p>

    <p> The requirements for a healthy diet can be met from a variety of plant-based and animal-based foods, although a non-animal
        source of Vitamin B12 is needed for those following a vegan diet. A healthy diet supports energy needs and provides for human
        nutrition withoutexposure to toxicity or excessive weight gain from consuming more calories than the body requires.</p><br>

    <h3>Recommendations</h3>
    <p>The World Health Organization (WHO) makes the following 5 recommendations with respect to both populations and individuals:<br>

1. Maintain a healthy weight by eating roughly the same number of calories that your body is using.<br><br>
2. Limit intake of fats. Not more than 30% of the total calories should come from fats. Prefer unsaturated fats to saturated fats. Avoid trans fats.<br><br>
3. Eat at least 400 grams of fruits and vegetables per day (potatoes, sweet potatoes, cassava and other starchy roots do not count). A healthy diet also contains legumes (e.g. lentils, beans), whole grains and nuts.<br><br>
4. Limit the intake of simple sugars to less than 10% of calorie (below 5% of calories or 25 grams may be even better)<br><br>
5. Limit salt / sodium from all sources and ensure that salt is iodized. Less than 5 grams of salt per day can reduce the risk of cardiovascular disease.<br><br>
WHO stated that insufficient vegetables and fruit is the cause of 2.8% of deaths worldwide. Other WHO recommendations include ensuring that foods chosen have sufficient vitamins and certain minerals,
        avoiding directly poisonous (e.g. heavy metals) and carcinogenic (e.g. benzene) substances, avoiding foods contaminated by human pathogens (e.g. E. coli, tapeworm eggs), and replacing saturated
        fats with polyunsaturated fats in the diet can reduce the risk of coronary artery disease and diabetes.</p>

    <img src="../static/images/Food_info%201.png" class="food_img"><br><br>

<h3>Unhealthy Diets</h3>

    <p>The Western pattern diet which is typically eaten by Americans and increasingly adapted by people in the developing world as they leave poverty is unhealthy: it is "rich in red meat, dairy products, processed
        artificially sweetened foods, and salt, with minimal intake of fruits, vegetables, fish, legumes, and whole grains." <br><br> An unhealthy diet is a major risk factor for a number of chronic diseases including:
        high blood pressure, diabetes, abnormal blood lipids, overweight/obesity, cardiovascular diseases, and cancer. The WHO estimates that 2.7 million deaths are attributable to a diet low in fruits and vegetables
        every year. Globally it is estimated to cause about 19% of gastrointestinal cancer, 31% of ischaemic heart disease, and 11% of strokes, thus making it one of the leading preventable causes of death worldwide.</p>
</div>

<div id="Info1" class="tabcontent">
  <h3>Paris</h3>
  <p>Paris is the capital of France.</p>
</div>

<div id="Info2" class="tabcontent">
  <h3>Tokyo</h3>
  <p>Tokyo is the capital of Japan.</p>
</div>


<script>
function bringinfo(evt, infotabname) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(infotabname).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>



{% endblock %}