{% extends "layout.html" %}
{% block body %}
{% from "includes/_formhelper.html" import render_field %}
    <header class="masthead" style="background-image: url('../static/images/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Food Selection</h1>
              <span class="subheading">Feeling Hungry?</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div id="wrapper">
        {% include 'includes/sidebar.html' %}
    </div>

    <body>

    <div class="categories__">
        <div class="categories__2"></div>
        <div class="categories__2"></div>
        <div class="categories__2"></div>
        <div class="categories__2"></div>
        <div class="categories__2"></div>
    </div>


    <div class="container">
        <div class="box-pos">
            <div class="ins-box">
                <div class="inn-box">
                    <img src="../static/images/1.jpg">
                </div>
            </div>
        </div>

        <div class="box-pos">
            <div class="ins-box">
                <div class="inn-box">
                    <img src="../static/images/2.jpg">
                </div>
            </div>
        </div>

        <div class="box-pos">
            <div class="ins-box">
                <div class="inn-box">
                    <img src="../static/images/3.jpg">
                </div>
            </div>
        </div>

        <div class="box-pos">
            <div class="ins-box">
                <div class="inn-box">
                    <img src="../static/images/4.jpg">
                </div>
            </div>
        </div>

        <div class="box-pos">
            <div class="ins-box">
                <div class="inn-box">
                    <img src="../static/images/5.jpg">
                </div>
            </div>
        </div>

        <div class="box-pos">
            <div class="ins-box">
                <div class="inn-box">
                    <img src="../static/images/6.jpg">
                </div>
            </div>
        </div>

        <div class="box-pos">
            <div class="ins-box">
                <div class="inn-box">
                    <img src="../static/images/7.jpg">
                </div>
            </div>
        </div>

        <div class="box-pos">
            <div class="ins-box">
                <div class="inn-box">
                    <img src="../static/images/8.jpg">
                </div>
            </div>
        </div>
    </div>
    </body>


{% endblock %}