{% extends 'layout.html' %}

{% block body %}
    <header class="masthead" style="background-image: url('../static/images/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Welcome to Domino's Healthcare</h1>
              <span class="subheading">All your medical related needs here</span>
            </div>
          </div>
        </div>
      </div>
    </header>


  <div id="wrapper">
  {% if session.logged_in == True %}
    {% include 'includes/sidebar.html' %}
  {% endif %}
  </div>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                  <div class="single-portfolio">
                <a href="/login"><img class="card-img-top img-responsive" src="../static/images/Wiki.png" alt=""></a>
                  </div>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="/login">Wiki Page</a>
                  </h4>
                    <h5></h5>
                  <p class="card-text">Learn more information about illnesses and diseases and tips on how to treat them here!</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted"></small>
                </div>
              </div>
            </div  >


           <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                  <div class="single-portfolio">
                <a href="/login"><img class="card-img-top" id="myImg" src="../static/images/ext.jpg" alt=""></a>
                </div>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="/login">Upcoming Events</a>
                  </h4>
                  <p class="card-text">All the upcoming health related events to boost your well-being!</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted"></small>
                </div>
              </div>
            </div>


           <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                 <div class="single-portfolio">
                   <a href="/login"><img class="card-img-top" id="myImg" src="../static/images/self-tracker.jpg" alt=""></a>
                  </div>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="/login">Self-Tracker</a>
                  </h4>
                  <p class="card-text">Manage your health status and condition here, you can update and also see other statistics for your health here.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted"></small>
                </div>
              </div>
          </div>


           <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                  <div class="single-portfolio">
                <a href="/login"><img class="card-img-top" src="../static/images/chronic-diseases.jpg" alt=""></a>
                  </div>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="/login">Chronic Diseases</a>
                  </h4>
                  <p class="card-text">Learn about Chronic diseases and how to properly diagnose one, see the statistics for the most common chronic diseases.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted"></small>
                </div>
              </div>
            </div>


          <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                  <div class="single-portfolio">
                <a href="/login"><img class="card-img-top" src="../static/images/food.jpeg" alt=""></a>
                  </div>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="/login">Food Menu</a>
                  </h4>
                  <p class="card-text">Choose from a wide variety of nutritious food from our hospital kitchen from the convenience of our online menu!</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted"></small>
                </div>
              </div>
            </div>


            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                  <div class="single-portfolio">
                <a href="/login"><img class="card-img-top" src="../static/images/after-discharge.jpg" alt=""></a>
                  </div>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="/login">After Discharge</a>
                    </h4>
                  <p class="card-text">Learn about after discharge care here, learn what symptoms can happen and how to avoid them.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted"></small>
                </div>
              </div>
            </div>


      </div>
  </div>


{% endblock body %}
