{% include 'includes/_navbar.html' %}

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Domino Healthcare</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static' ,filename ='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static' ,filename ='vendor/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static' ,filename ='css/clean-blog.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename= 'css/style.css')}}" rel="stylesheet" type = "text/css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyCqk7saUxrniqmu914PiyznojPxVLnikc4",
            authDomain: "dominohealth.firebaseapp.com",
            databaseURL: "https://dominohealth.firebaseio.com",
            storageBucket: "dominohealth.appspot.com"
        };
        firebase.initializeApp(config);
    </script>
</head>





{% block body %}

    <style>

.formbg {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width:80%;
    margin-left: 100px;
}



</style>

       <header class="masthead" style="background-image: url('../static/images/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Self Tracking System (Long Term)</h1>

 </header>
<div class="container">
<div class="formbg">
    {% from "includes/_formhelper.html" import render_field %}
        <form method="POST">
            <h2>Water Level Selectable Date</h2>
            <br>
            <div class="form-row">
            <div class="form-group col-md-5">
            {{ render_field(form.water41 , id="water41" , placeholder="Enter water drank in ML in Morning (8am - 12pm )",class="form-control")}}
            </div>
                <br>

            <div class="form-group col-md-5">
            {{ render_field(form.water42, id="water42", placeholder="Enter water drank in ML in Afternoon (12pm - 5pm)", class="form-control")}}
                </div>

                </div>
                <br>
            <div class="form-row">

            <div class="form-group col-md-5">
            {{ render_field(form.water43, id="water43", placeholder="Enter water drank in ML at Night (5pm onwards)",class="form-control")}}
                </div>
                <br>


            <div class="form-group col-md-5">
            {{ render_field(form.water44, id="water44", placeholder="Enter date of intake" ,class="form-control")}}
            </div>

            <br>
            <div class="form-group col-md-5">
            {{ render_field(form.name4, id="name4", placeholder="Enter your name" ,class="form-control")}}
            </div>
                    </div>
            <br>


            <br>













            <input class="btn" type="submit" value="Submit" formaction="/trackerlong">
</div>
    </form>

</div>

{% endblock body %}
