{% extends 'layout.html' %}
{% block body %}

<!-- Page Header -->
    <header class="masthead" style="background-image: url('../static/images/maxresdefault.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Appointments</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="container">
        <table class="table table-bordered">
            <tr>
                <th>Name</th>
                <th>Condition</th>
                <th>Schedule Date</th>
                <th>Contact</th>
            </tr>
            {% for patients in booked %}
            <tr>
                <td>{{ patients.get_fullname() }}</td>
                <td>{{ patients.get_condition() }}</td>
                <td>{{ patients.get_schedule() }}</td>
                <td>{{ patients.get_mobile() }}</td>
                <td><a href="/update/{{ patients.get_pubid() }}" class="btn-btn-warning">Update</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
