{% extends "layout.html" %}
{% block body %}
{% from "includes/_formhelperv2.html" import render_field %}
    <!-- Page Content -->
    <header class="masthead" style="background-image: url('../static/images/home-bg.jpg')">
    <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Scheduling</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!--Scheduling Form-->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <form method="POST">
                    <table id="scheduletable">
                        <tr>
                            <th colspan="2" style="text-align:center;">General Information</th>
                        </tr>
                        <tr>
                            <td>Patient's Name</td>
                            <td>{{ render_field(form.fullname, class='form-control')}}</td>
                        </tr>
                        <tr>
                            <td>NRIC</td>
                            <td>{{ render_field(form.nric, class='form-control')}}</td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td>{{ render_field(form.contact, class='form-control')}}</td>
                        </tr>
                        <tr>
                            <td>Date of Birth</td>
                            <td>{{ render_field(form.date_o_birth, class='form-control')}}</td>
                        </tr>
                        <tr>
                            <td>Schedule Date</td>
                            <td>{{ render_field(form.scheduledate, class='form-control')}}</td>
                        </tr>
                        <tr>
                            <td>Time</td>
                            <td>{{ render_field(form.time, class='form-control')}}</td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td>{{ render_field(form.gender, style="list-style: none; border: none; padding-left: 0%; padding-top: 0.5px;")}}</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>{{ render_field(form.address, class='form-control')}}</td>
                        </tr>
                        <tr>
                            <td>Medical Condition</td>
                            <td>{{ render_field(form.condition, class='form-control')}}</td>
                        </tr>
                        <tr>
                            <th>Contact Information</th>
                        </tr>
                        <tr>
                            <td>Name(Optional)</td>
                            <td>{{ render_field(form.contactname, class='form-control')}}</td>
                        </tr>
                        <tr>
                            <td>Emergency Contact</td>
                            <td>{{ render_field(form.emergency, class='form-control')}}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{ render_field(form.email, class='form-control')}}</td>
                        </tr>
                        <tr>
                            <td><input type="submit" class="btn btn-primary" value="Update" style="background-color:grey"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
